.codt2022 .information h4 {
    color: $codt-orange !important;
    margin: 1em 0em !important;
}

.codt2022 .information h5 {
    border-left: 3px solid $codt-orange;
}

header h1 {
    font-size: 2.25rem;
}

.speaker-dashboard-form {
    background: rgba(256, 256, 256, 0.8);
}

.speaker-dashboard-form h2 {
    font-weight: bold;
}

.speaker-dashboard-form p {
    font-size: larger;
    margin: 1em 0;
}

.speaker-dashboard-form ol {
    font-size: x-large;
    margin: 1em 0;
}

.speaker-dashboard-form .privacy p {
    font-size: small;
}

.speaker-dashboard-form:before h1 {
    font-size: small;
}

.entry {
    font-size: xx-large;
}